NEXT_PUBLIC_API_URL=https://doct-admin-backend-dev-api.doctutorials.com/api


# DEV
# define("URL","https://doct-admin-backend-dev-api.doctutorials.com/api/");
# define("URLJ","https://doct-admin-backend-dev-api.doctutorials.com/api/");
# define("URLP","https://dt-admin-portal-backend-dev-api.doctutorials.com/");